body {
    background-color: grey;
}

p {
    text-align: center;
    background-color: brown;
    font-size: 40px;
}
.kirtinka {
    background-color: grey;
}

h1 {
    font-size: 70px;
    text-align: center;
    background-color: brown;
}

img {
    height: auto;
    width: 100%;
}

.nav a {
    color: black;
    text-decoration: none;
    padding: 6px;
    border: 1px solid black;
    
}

.nav {
    display: flex;
    justify-content:space-around;

}

a:hover {
    background-color: black;
    color: white;
}
